a.navbar-item:hover {
    background-color: inherit;
}

.is-menu-modal {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: absolute;
    top: 52px;
}

.menu ul li {
    margin-bottom: 30px;
}

.custom-button-width {
    width: 60vw;
    max-width: 200px;
}

#mobile-menu {
    display: none;
}

.custom-hero-background {
    background-image: url('wire.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

input[type="radio"] {
    position: relative;
    top: -2px;
}

label.radio {
    display: block;
}

.radio + .radio {
    margin: 0;
    margin-bottom: 1.5rem;
}
